{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1 class="display-4">Catalogue</h1>
    </div>


    <div class="container">
        <div class="card-columns">
            {% for livre in livres %}
                <div class="card">
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">
                        <div class="card-header bg-dark text-light">
                            <h2 class="card-title">{{ livre.titre }}</h2>
                        </div>
                    </a>
                    <div class="card-body">
                        
                        <p class="card-text">{{ livre.auteur.prenom }} {{ livre.auteur.nom }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">ISBN {{ livre.codeIsbn }}</li>
                            {% if livre.genres is not empty %}
                            <li class="list-group-item">
                                {% for genre in livre.genres %}
                                    <a class="badge badge-info text-capitalize" href="{{ path('genre_show', {'id': genre.id}) }}">{{ genre.nom }}</a>
                                {% endfor %}
                            </li>
                            {% endif %}
                            <li class="list-group-item">{{ livre.nombrePages }} pages</li>
                            <li class="list-group-item">{{ livre.anneeEdition }}</li>
                        </ul>
                    </div>
                </div>
            {% else %}
                <div class="card p-3">
                    <div class="card-body">
                        <p>Aucun livre trouvé</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
