{% extends 'base.html.twig' %}

{% block title %}Genre{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>Genre</h1>
    <a class="badge badge-secondary" href="{{ path('genre_index') }}">back to list</a>
</div>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ genre.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ genre.nom }}</td>
            </tr>
        </tbody>
    </table>


    <a href="{{ path('admin_genre_edit', {'id': genre.id}) }}">edit</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
