{% extends 'base.html.twig' %}

{% block title %}Livre index{% endblock %}

{% block body %}
    <h1>Livre index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Genre(s)</th>
                <th>Année d'édition</th>
                <th>Nombre de pages</th>
                <th>Code ISBN</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td>{{ livre.id }}</td>
                <td>{{ livre.titre }}</td>
                <td>{{ livre.auteur.prenom }} {{ livre.auteur.nom }}</td>
                <td>
                    <p>
                    {% for genre in livre.genres %}
                        {{ genre.nom }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    </p>                    
                </td>
                <td>{{ livre.anneeEdition }}</td>
                <td>{{ livre.nombrePages }}</td>
                <td>{{ livre.codeIsbn }}</td>
                <td>
                    <a href="{{ path('livre_show', {'id': livre.id}) }}">show</a>

                    <a href="{{ path('admin_livre_edit', {'id': livre.id}) }}">edit</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_livre_new') }}">Create new</a>
{% endblock %}
