{% extends 'base.html.twig' %}

{% block title %}Emprunt index{% endblock %}

{% block body %}    
<div class="jumbotron">
    <h1 class="display-4">Emprunt index</h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a class="btn btn-primary btn-lg" href="{{ path('admin_emprunt_new') }}" role ="button">Create new</a>
    {% endif %}
</div>


<div class="container">
    <table class="table table-striped table-responsive">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Emprunteur</th>
                <th>Titre du livre</th>
                <th>Auteur du livre</th>
                <th>Date d'emprunt</th>
                <th>Date de retour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.emprunteur.prenom }} {{ emprunt.emprunteur.nom }}</td>
                <td>{{ emprunt.livre.titre }}</td>
                <td>{{ emprunt.livre.auteur.prenom }} {{ emprunt.livre.auteur.nom }}</td>
                <td>{{ emprunt.dateEmprunt ? emprunt.dateEmprunt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ emprunt.dateRetour ? emprunt.dateRetour|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="badge badge-light" href="{{ path('emprunt_show', {'id': emprunt.id}) }}">show</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a  class="badge badge-light"href="{{ path('admin_emprunt_edit', {'id': emprunt.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
