{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="jumbotron">
    <h1>User</h1>
    <a class="badge badge-light" href="{{ path('admin_user_index') }}">back to list</a>
</div>
    
<div class="container">


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% for role in user.roles %}
                        {{role}}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% if 'ROLE_EMPRUNTEUR' in user.roles %}
            <tr>
                <th>Nom, Prénom</th>
                <td>
                    <a href="{{ path('emprunteur_show', {'id': emprunteur.id}) }}">{{ emprunteur.nom }}, {{ emprunteur.prenom }}</a>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="container">
            <a class="btn btn-primary" href="{{ path('admin_user_edit', {'id': user.id}) }}">Editer</a>

            {{ include('user/_delete_form.html.twig') }}
        </div>
    {% endif %}
{% endblock %}
